nav {
  display: flex;
  padding: 25px;
  width: 100%;
  background-color: cadetblue;
  margin: auto;
  justify-content: space-evenly;
}

a {
  color: lightpink;
  text-align: center;
  text-decoration: none;
  font-size: 1.25rem;
  text-transform: uppercase;
}

a:hover {
  color: grey;
}
button:hover {
  color: grey;
}

.active {
  color: pink;
}

button {
  display: flex;
  width: 1rem;
  cursor: pointer;
  color: pink;
  background: none;
  border: none;
  font-size: 1.25rem;
  text-transform: uppercase;
}
